[Unit]
Description=Meal planner http site
After=network-online.target

[Service]
Restart=always
RestartSec=60
StartLimitBurst=5
StartLimitIntervalSec=300
ExecStart=/usr/local/bin/meal-planner -p 80
Type=simple

[Install]
WantedBy=multi-user.target
