{{ block "recipe-form-view" . }} {{ template "recipe-form" . }}
<div id="result"></div>
{{end}} {{ block "recipe-form" . }}
<form hx-post="/recipes/add" hx-swap="outerHTML" style="display: flex; flex-direction: column">
	<div style="display: grid; grid-template-columns: 1fr 1.5fr; grid-row-gap: 16px">
		<label for="recipe-name">Name</label>
		<input id="recipe-name" name="name" {{if .Name }}value="{{ .Name }}" {{ end }} />

		<label for="recipe-book">Book</label>
		<input id="recipe-book" name="book" {{if .Book }}value="{{ .Book }}" {{ end }} />

		<label for="recipe-page">Page No.</label>
		<input id="recipe-page" name="page" min="0" {{if .Page}}value="{{ .Page }}" {{ end }} type="number" />
	</div>
	<button style="margin-left: auto; margin-top: 16px">submit</button>
</form>
{{ end }} {{block "recipe-result" .}}
<div id="result" hx-swap-oob="true" hx-get="/recipes" hx-swap="none" hx-trigger="load">
	{{.}}
</div>
{{end}} {{block "recipe-error" .}}
<div hx-swap-oob="innerHTML" id="result">
	<div style="
      padding: 6px;
      border: solid 1px red;
      color: red;
      background-color: pink;
    ">
		{{.}}
	</div>
</div>
{{end}}
