{{ block "this-week" . }}
	<input id="week" type="date" name="week" value="{{ .Week }}" hx-on:change="document.getElementById('week-link').href = `/week/${this.value}`"/>
	<a id="week-link" href="/week/{{.Week}}">go</a>
<div id="this-week">
  <h1>Week - {{ .Week }}</h1>
  {{ if .Recipes }}
  <div>
    {{range .Recipes }}
    <p>{{ .Name }} | {{ .Book }} - p{{ .Page}}</p>
    {{ end}}
  </div>
  {{ else }}
  <form hx-swap="outerHTML" hx-target="#this-week" hx-post="/recipes/generate?week={{.Week}}">
    <input name="count" value="5" />
    <button>Generate</button>
  </form>
  {{ end }}
</div>
{{ end }}
